<!-- Appended checkbox -->
<div class="form-group">
  <label class="col-md-4 control-label" for="<%= id %>"><%= label %></label>
  <div class=<% if ( inputsize.length <= 0){ %>  "col-md-4" <%}else { %> "<%= inputsize %>"<%}%>>
    <div class="input-group">
      <input id="<%= id %>" name="<%= id %>" class="form-control" type="text" placeholder="<%= placeholder %>" <% if(required) {%> required <% } %> />
	        <span class="input-group-addon">     
          <input type="checkbox" <% if (checked){ %>checked="checked"<% } %>>     
      </span>
    </div>
    <% if (helptext.length > 0) { %><p class="help-block"><%= helptext %></p><% } %>
  </div>
</div>
