<!-- Button Drop Down -->
<div class="form-group">
  <label class="col-md-4 control-label" for="<%= id %>"><%= label %></label>
  <div class=<% if ( inputsize.length <= 0){ %>  "col-md-4" <%}else { %> "<%= inputsize %>"<%}%>>
    <div class="input-group">
      <input id="<%= id %>" name="<%= id %>" class="form-control" placeholder="<%= placeholder %>" type="text" <% if(required) {%> required <% } %> />
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <%= buttontext %>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right"><% _.each(buttonoptions, function(value) { %>
          <li><a href="#"><%= value %></a></li><% }); %>
        </ul>
      </div>
    </div>
  </div>
</div>
